td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
th.header { 
    background-image: url({% static "bg.gif" %}); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 		
th.headerSortUp { 
    background-image: url({% static "asc.gif" %}); 
    background-color: #3399FF; 
} 		
th.headerSortDown { 
    background-image: url({% static "desc.gif" %}); 
    background-color: #3399FF; 
} 
