{% extends "base_home.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">

		<aside class="span3">
		    <section>
		
                <h2>Welcome to our files list!</h2>
		        <div class="divider"><span></span></div>
                <p>To add more books you need to access the admin control panel. Thanks.</p>
		
		    </section>
		
		</aside>    

	{% include "stats.html" %}
		
		{% if files_list %}
    		<table class="table table-striped table-hover">
    			<thead>
				  <tr>
				    <th>File ID</th>
				    <th>Title</th>
				    <th>Author</th>
				    <th>Publish Date</th>
				    <th>Status</th>
				    <th>Total Words</th>
				  </tr>    				
    			</thead>
			 	<tbody>
					{% for file in files_list %}
				    	<tr class='clickableRow {% if not file.fileloaded %} danger {% endif %}' href='{% url 'files.views.detail' file.id %}' style="cursor: pointer;">
					        <td>{{ file.id }}</td>
					        <td>{{ file.title }}</td>
					        <td>{{ file.author }}</td>
					        <td>{{ file.publishdate }}</td>
					        <td><span class="label {% if file.fileloaded %} label-success {% else %} label-danger {% endif %}">{% if file.fileloaded %} OK {% else %} Loading {% endif %}</span></td>
					        <td>{{ file.total_words }}</td>
				        </tr>
					{% endfor %}
				</tbody>
			</table>

		{% else %}
		    <p>No apps are available.</p>
		{% endif %}		        
    </div>

{% endblock %}
{% block footer %}
	<script>
		$('.collapse').collapse()
	</script>
{% endblock %}