{% extends "base_home.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">

		<aside class="span3">
		    <section>
		
                <h2>Welcome to our words list!</h2>
		        <div class="divider"><span></span></div>
                <p>To add more words you need to access the admin control panel. Thanks.</p>
		
		    </section>
		{% if wordgroup %}<h3>WordGroup: {{wordgroup.name}}</h3>
		
		<a type="button" class="btn btn-primary" href="?csv=True">Download as CSV</a>

		{% endif %}
		{% if searchbox %}
			<div class="row-fluid">
				<h3>Searching for word: <b>{{searchbox}}</b></h3>
			</div>
		{% endif %}		

		<div class="row-fluid">	
			<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Type word to search" id="searchbox" name="searchbox" {% if searchbox %} value = "{{ searchbox }}" {% endif %}>
		        </div>
		        <button type="submit" class="btn btn-success">Submit</button>
		    </form>
	    </div>
		
		</aside>    
		
		{% if object_list %}
		
		{% include "pagination.html" %}
    	
    		<table class="table table-striped table-hover">
    			<thead>
				  <tr>
				    <th>Word ID</th>
				    <th>Value</th>
				    <th>Total Appearances</th>
				  </tr>    				
    			</thead>
			 	<tbody>
					{% for word in object_list %}
				    	<tr class='clickableRow' href='{% url 'detail' word.word__id %}' style="cursor: pointer;">
					        <td>{{ word.word__id }}</td>
					        <td>{{ word.word__value }}</td>
					        <td><span class="label {% if word.total %} label-success {% else %} label-danger {% endif %}">{{ word.total }}</span></td>
				        </tr>
					{% endfor %}
				</tbody>
			</table>
		
		{% include "pagination.html" %}
		
		{% else %}
		    <p>No apps are available.</p>
		{% endif %}		        
    </div>

{% endblock %}
