{% extends "new_base_email.html" %}
{% load staticfiles %}
{% block content %}
<!-- Header -->
<repeater>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="3A2C4A" data-backgroundcolor="" data-bottombackgroundimage="" name="breaker">
		<tbody>
		<tr>
			<td valign="top" align="center" data-padding="">
				<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center; color: #FFFFFF; font-size: 28px;" class="textAlignCenter">
				<tbody><tr>
						<td height="120">&nbsp;</td>
					</tr>
					<tr>
						<td class="mobilePadding" >
							WE COME BEARING PASSWORD!
						</td>
					</tr>
					<tr>
						<td height="120">&nbsp;</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</repeater>
<!-- Left text - Right Image Column -->
<repeater>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" name="column left">
		<tr>
			<td valign="top" align="center" style="border-bottom: 1px solid #e5e5e5" data-padding="">
				<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: left;" class="textAlignCenter">
					<tr>
						<td height="30">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<table width="225" height="300" border="0" cellspacing="0" cellpadding="0" align="right" style="text-align:center;" class="textAlignCenterResetHeight">
								<tr>
									<td class="resetHeight" valign="top" style="padding-top: 50px;">
										<a href="#" style="text-decoration: none;"><img  src="{% static "images/feedsme_logo_120x120.png" %}" style="max-width: 225px;" data-borderRadius=""></a>
									</td>
								</tr>
							</table>
							<table width="325" height="300" border="0" cellspacing="0" cellpadding="0" align="left" class="textAlignCenterResetHeight">
								<tr>
									<td class="mobilePadding">
									
										<h2 style="font-size: 22px;padding-top: 5px; line-height: 28px;" data-headlineColor="">
										FORGOT YOUR PASSWORD?</h2>
										<p style="font-size: 20px; line-height: 26px; padding-top: 12px; " data-lineHeight="">
											Don't sweat it, get a new one:
										</p>
										
										<p style="padding-top: 40px; padding-bottom: 50px;">
											<!-- Button -->
											<a href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uidb36=uid token=token %}" data-button="" data-borderRadius="" style="padding: 15px; padding-left: 15px; padding-right: 15px; border-radius: 4px; background-color: #0CB51D; text-decoration: none; color: #FFFFFF; font-size: 15px;">reset password</a>
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="20">&nbsp;</td>
					</tr>
				</table>
				
			</td>
		</tr>
	</table>
</repeater>

<repeater>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" name="column left">
		<tr>
			<td valign="top" align="center" style="border-bottom: 1px solid #e5e5e5" data-padding="">
				<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: left;" class="textAlignCenter">
					<tr>
						<td height="30">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<table width="225" height="300" border="0" cellspacing="0" cellpadding="0" align="left" style="text-align: left;" class="textAlignCenterResetHeight">
								<tr>
									<td class="resetHeight" valign="top" style="padding-top: 35px;">
										<a href="#" style="text-decoration: none;"><img src="{% static "images/email006.png" %}" style="max-width: 225px;" data-borderradius=""/></a>
									</td>
								</tr>
							</table>
							<table width="325" height="300" border="0" cellspacing="0" cellpadding="0" align="right" class="textAlignCenterResetHeight">
								<tr>
									<td class="mobilePadding">
									
										<h2 style="font-size: 24px;padding-top: 25px;line-height: 28px; color: #674397;" data-headlineColor="">You know what would go awesome with these? coffee. And what goes well with coffee? our blog.</h2>
										<p style="font-size: 20px; line-height: 26px; padding-top: 6px; " data-lineHeight="">
											Check out our latest, on small data for small businesses.
										</p>
										<p style="padding-top: 40px; padding-bottom: 50px;">
											<!-- Button -->
											<a href="http://f33ds.me/blog/" data-button="" data-borderRadius="" style="padding: 15px; padding-left: 15px; padding-right: 15px; border-radius: 4px; background-color: #0CB51D; text-decoration: none; color: #FFFFFF; font-size: 15px;">our blog</a>
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="20">&nbsp;</td>
					</tr>
				</table>
				
			</td>
		</tr>
	</table>
</repeater>

{% endblock %}